.content-table{
	height: auto;
	width:1265px;
	border-collapse: collapse;
	
	font-size: 0.9em;
	min-width: 400px;
	position:justify;
	
	font-family: Cursive;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 20 0 20px rgba(10 0 0.15);
	

}
.content-table thead tr{
	background-color:  #19D2B8;

	color: white;
	text-align: left;
	

}
.content-table th{
	padding: 22px;

}
.content-table td{
	padding: 12px;

}
.content-table tbody tr{
	border-bottom: solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
header{
	background-color: #7FEBF5;
	text-align: center;
	padding: -5%;
	color: white;
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #19D2B8;



}

.content-table tbody tr.active-row{
	background-color: #19D2B8;
}

header:hover{
	background-color: grey;
}
footer{
	background-color: #7FEBF5;
	text-align: center;
	padding: 2%;


}
footer:hover{
	background-color: grey;
}